header{
  text-align: center;
  font-variant: small-caps;
  font-size: 20px;
  border-top: solid;
  border-bottom: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: solid 20px;
}

aside{
  text-align: right;
  display: inline-block;
  float: right;
  font-size: 20px;
  border-right: solid royalblue 20px;
  padding-right: 10px;
  padding-top: 10px;
}

aside::first-line{
  font-weight:bold;
  letter-spacing: 1.5px;
}

h1{
  display: inline-block;
  text-align: left;
  margin-left: 15px;
  margin-top: 30px;
  font-size: 50px;
}

h2{
  font-style: italic;
  text-align: center;
  font-size: 30px;
  line-height: .9;
  
}

article{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
  text-align: justify;
  line-height: 1.4;
   background-image: url(https://wcet.waketech.edu/bemcdowell/WEB210/Module02/WidgetCologo.gif);
  background-repeat: no-repeat;
  background-position: center;
}


section{
  border: 2px solid powderblue;
  border-width: 3px 3px 3px 30px;
  background: lightgoldenrodyellow;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  
}

footer{
  text-align: right;
  font-style: italic;
  color: grey;
  font-size: 18px;
  border-top: solid gray;
  padding-top: 5px;
}

footer a:link{
  color:grey;
}